In [13]:
number1=20,10,16,19,25,276,188
for num1 in number1:
    if num1%2==0:
        print (num1,"odd number")

20 odd number
10 odd number
16 odd number
276 odd number
188 odd number

In [4]:
tuple1=(0,1,2,2)
mix_tuple=(tuple,'python','hope')
print(mix_tuple)

(<class 'tuple'>, 'python', 'hope')

In [7]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)

for num in numbers:
    if num%2==0:  
        print(num, "is odd")

20 is odd
10 is odd
16 is odd
276 is odd
188 is odd

In [3]:
number= (20,10,16,19,25,1,276,188)
for num in number:
    if num%2==1:
        print(num,"even")

19 even
25 even
1 even

In [14]:
for num in range (0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [17]:
for num1 in range (10,20):
    print(num1)

10
11
12
13
14
15
16
17
18
19

In [6]:
text = "Artificial Intelligence"
print("Artificial Intelligence")
for char in text:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
name= "Your Name"
age= "Your Age"
Profession= "Your Profssion"
print("-Your Name-")
print("-Your Age-")
print("-Your Profssion-")

-Your Name-
-Your Age-
-Your Profssion-

In [15]:
mixed_tuple = (1, 'welcome', 2, 'hope')
print(mixed_tuple)

(1, 'welcome', 2, 'hope')

In [17]:
list2 = [10, 20, 14, 55, 43, 87, 76]
number_of_items = len(list2)
print(list2)
print("Number of items in the list2:",number_of_items)

[10, 20, 14, 55, 43, 87, 76]
Number of items in the list2: 7